terraform {
  required_version = ">= 0.12"
  required_providers {
    esxi = {
      version = "~> 1.7"
    }
  }
}

provider "esxi" {
  esxi_hostname      = var.esxi_host
  esxi_hostport      = "22"
  esxi_hostssl       = "443"
  esxi_username      = var.esxi_username
  esxi_password      = var.esxi_password
}

resource "esxi_guest" "{{ vm.helpernode.name }}" {
  guest_name     = "{{ vm.helpernode.name }}"
  numvcpus       = "4"
  memsize        = "8192"  # in Mb
  boot_disk_size = "200" # in Gb
  boot_disk_type = "thin"
  disk_store     = var.datastore
  guestos        = "centos-64"
  power          = "off"
  virthwver      = "13"

  network_interfaces {
    mac_address     = "{{ vm.helpernode.macaddr }}"
    virtual_network = var.home_network
  }
}

resource "esxi_guest" "cluster-machines" {
  for_each = {
    {{ vm.bootstrap.name }} = "{{ vm.bootstrap.macaddr }}"
    {{ vm.controlplane1.name }} = "{{ vm.controlplane1.macaddr }}"
    {{ vm.controlplane2.name }} = "{{ vm.controlplane2.macaddr }}"
    {{ vm.controlplane3.name }} = "{{ vm.controlplane3.macaddr }}"
    {{ vm.compute1.name }} = "{{ vm.compute1.macaddr }}"
    {{ vm.compute2.name }} = "{{ vm.compute2.macaddr }}"
  }
  guest_name     = each.key
  numvcpus       = "4"
  memsize        = "16384"  # in Mb
  boot_disk_size = "120" # in Gb
  boot_disk_type = "thin"
  disk_store     = var.datastore
  guestos        = "fedora-64"
  power          = "off"
  virthwver      = "13"

  network_interfaces {
    mac_address     = each.value
    virtual_network = var.home_network
  }
}
