#version=RHEL8
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens32 --gateway=192.168.1.1 --ip=192.168.1.203 --nameserver=127.0.0.1,192.168.1.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=helper
repo --name="Minimal" --baseurl=file:///run/install/repo/Minimal
# Root password
rootpw --plaintext changeme
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=1024
part pv.216 --fstype="lvmpv" --ondisk=sda --size=203775
volgroup cl --pesize=4096 pv.216
logvol / --fstype="xfs" --size=195668 --name=root --vgname=cl
logvol swap --fstype="swap" --size=8098 --name=swap --vgname=cl

%packages
@^server-product-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
